.face-snap-card {
  width: 15rem;
  height: 30rem;
  background-color: #f8f2f2;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  img {
    height: 45%;
    width: 100%;
    object-fit: contain;
  }
}
